html {
    min-height: 100%;
}
body {
    background-color: #060b54;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 100px),url("worldblue2.webp");
    background-repeat: no-repeat, repeat;
    max-width: 1889px;
    height: auto;
    margin: auto !important;
    float: none !important;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}
::selection {
    background: blue;
}
td.centered{
    text-align: center;
}
p {
    color: white;
}
span {
    color: white;
}
td.redbar{
    min-width: 5px;
    background-color: #ff0020;
}
td.sidebar{
    width: 155px;
    white-space: nowrap;
    background-color: #880000;
    vertical-align: top;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.inline{
    display: inline-block;
    padding-left: 35px;
    padding-right: 35px;
    vertical-align: middle;
}
img.borderedimg{
    margin-bottom: -5px;
}
td.smallinset {
    border: 1px;
    border-style: inset;
    border-color: grey;
    padding: 1px;
    vertical-align: middle;
}
td.orderform {
    border: 1px;
    border-style: inset;
    border-color: grey;
    vertical-align: middle;
    padding-top: 0px;
}
td.title {
    width: 400px;
    border: 1px;
    border-style: inset;
    border-color: grey;
    padding: 1px;
    vertical-align: middle;
    background-color: #880000;
}
table.bordered {
    margin-left: auto;
    margin-right: auto;
    border: 5px;
    border-style: outset;
    border-color: grey;
    text-align: center;
}
#peterabbott{
    font-size: 10px;
    font-family: 'Verdana';
    font-weight: bold;
    line-height: 0;
    text-align: center;
}
img.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
}
img.blueborder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid blue;
}
p.url{
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 13px;
    text-align: center;
    line-height: 0;
    margin: 8px 0px 20px 0px;
}
p.message{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
p.ordertxt{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
#formtxt{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
label{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color: white;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}
input.button{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
p.price{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    color:#ffff00;
}
#dms{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 0;
    padding-bottom: 8px;
}
#dms2{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 0;
    margin-top: 8px;
    padding-bottom: 8px;
}
#dms3{
    font-family: 'Verdana';
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    line-height: 0;
    text-align: left;
}
a.bigyellowitalic{
    font-family: 'Verdana';
    font-size: 24px;
    font-weight: bold;
    color:#ffff00;
    font-style: italic;
}
a.bigyellowitalic:hover{
    color: black;
    background-color: #ffff00;
}
p.medyellow{
    text-align: center;
    font-family: 'Verdana';
    font-size: 18px;
    font-weight: bold;
    color:#ffff00;
    line-height: 1.2;
    margin:0;
}
p.smallyellow{
    text-align: center;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: bold;
    color:#ffff00;
    line-height: 1.2;
    margin:0;
}
span.smallyellow{
    color:#ffff00;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial Black;
}
h1{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-family: 'Arial Black';
    font-size: 24px;
    font-weight: bold;
    color:#ffff00;
    font-style: italic;
    line-height: 1;
    margin-bottom: 3px;
}
h2{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Arial Black';
    font-size: 18px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    line-height: 1;
}
h3{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Arial Black';
    font-size: 16px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}
#guestbook{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Arial Black';
    font-size: 16px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 25px;
}
p.guesttxt{
    color:#ffff00;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial Black';
    text-align: center;
    font-style: italic;
    line-height: 0;
    margin-bottom: 20px;
}
#funpoem{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Arial Black';
    font-size: 16px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    line-height: 0;
}
h4{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Verdana';
    font-size: 13px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    line-height: 1;
}
h4.green{
    font-weight: bold;
    color:#00ff00;
    font-family: 'Verdana';
    font-size: 13px;
    font-style: italic;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
}
#dietandlife{
    font-weight: bold;
    color:#ffff00;
    font-family: 'Arial Black';
    font-size: 16px;
    font-style: italic;
    text-align: center;
    line-height: 0;
    margin-top: 12px;
    margin-bottom: 12px;
}
#hurryharry{
    color:#ffff00;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 13px;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    line-height: 0;
    margin-top: 8px;
    margin-bottom: 25px;
}
p.text{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
ol{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    color: white;
}
#intextlink{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
    color: white;
}
#intextlink:hover{
    background-color:#ffff00;
    color: black;
}
p.poem{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 1.7;
}
#quiztext{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
}
#quiz{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    line-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
span.subheader{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}
p.textunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
span.textunderlined{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
span.text{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    font-style: italic;
}
#clickon{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size:10px;
    color:white;
    font-weight: bold;
    font-style: italic;
    font-family: 'Verdana';
}
#welcomesignabove{
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-size:10px;
    color:#ffff00;
    font-weight: bold;
    font-style: italic;
    font-family: 'Verdana';
}
img.borderlink{
    border: 1px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.borderlink:hover{
    border: 1px solid yellow;
}
table.updated {
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: outset;
    border-color: grey;
}
p.updated {
    font-family: 'Verdana';
    font-size: 10px;
    line-height: 0;
    font-weight: bold;
    margin: 5px 0px 5px 0px;
}
#animatedbanners{
    font-size:10px;
    font-family:"Verdana";
    font-weight: bold;
    text-align: center;
    line-height: 0;
    margin-bottom: 5px;
}
p.sidebarcontent{
    margin-top: -3px;
}
p.smallerspace{
    margin-top: 10px;
    margin-bottom: 10px;
}
#mapsleft{
    padding-right: 80px;
}
#mapsright{
    padding-left: 80px;
}
#submapsleft{
    padding-right: 45px;
}
#submapsright{
    padding-left: 45px;
}
#right{
    margin-bottom: -27px;
}
#latestnews{
    display: inline-block;
    padding-left: 50px;
}
span.green{
    color:#00ff00;
}
span.yellow{
    color:#ffff00;
}
#bookmark{
    color:#00ff00;
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    font-weight: bold;
    font-family: Arial Black;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    margin-bottom: -5px;
}
#wlilly{
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 0px;
    font-style: italic;
}
a.textlink{
    color:#ffff00;
}
a.textlink:hover{
    background-color: #ffff00;
    color: black;
}
#myguestbook{
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    color:white;
    font-style: italic;
}
#myguestbook:hover{
    background-color: #ffff00;
    color: black;
}
@font-face {
    font-family: BlackChancery;
    src: url(BLKCHCRY.TTF);
}
#name{
    font-family: "BlackChancery";
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}
#name2{
    font-family: "BlackChancery";
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    color:#ffff00;
}
table.smallborder {
    margin-left: auto;
    margin-right: auto;
    border: 3px;
    border-style: outset;
    border-color: grey;
    text-align: center;
}
table.hsign {
    margin-left: 0px;
    margin-right: auto;
    border: 1px;
    border-style: outset;
    border-color: grey;
    margin-bottom: -4px;
}
table.hsign2 {
    margin-left: 0px;
    margin-right: auto;
    border: 3px;
    border-style: outset;
    border-color: grey;
    margin-bottom: -4px;
}
table.hsigncenter {
    margin-left: auto;
    margin-right: auto;
    border: 1px;
    border-style: outset;
    border-color: grey;
    margin-bottom: -4px;
}
#backtotop{
    font-family: 'Verdana';
    font-size: 13px;
    font-weight: bold;
    color:#ffff00;
    text-align: center;
}
#backtotop:hover{
    background-color: #ffff00;
    color: black;
}
#backtotopdiv{
    text-align: center;
}
div.center{
    text-align: center;
}
p.greenh{
    color:#00ff00;
    font-family: Verdana;
    font-weight: bold;
    font-size: 13px;
    line-height: 0;
    margin: 8px 0px 8px 0px;
}
p.greenhsmall{
    color:#00ff00;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 10px;
    line-height: 0;
    margin: 7px 0px 7px 0px;
}
img.roundlink{
    margin-left: 3px;
    margin-right: 3px;
}
img.roundlink:hover
{
    box-shadow: 0px 0px 5px #fff000;
    border-radius: 5px;
}
#gbook{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#gbook:hover
{
    box-shadow: 0px 0px 5px #fff000;
    border-radius: 5px;
}
